node_modules/ 
/frontend/
frontend/node_modules/ 
frontend/.next/
.vercel/
.env
.env.local
dist/ 
StructureX/.git*/
StructureX/**/__pycache__/
StructureX/**/*.pyc
StructureX/*stderr*.txt
StructureX/*stdout*.txt
StructureX/*error*.txt
StructureX/*err*.txt
StructureX/*out*.txt
*stderr*.txt
*stdout*.txt
*error*.txt
*err*.txt
*out*.txt
