node_modules/ 
/frontend/
frontend/node_modules/ 
frontend/.next/
.vercel/
.env 
dist/ 
StructureX/.git*/
StructureX/**/__pycache__/
StructureX/**/*.pyc
StructureX/*stderr*.txt
StructureX/*stdout*.txt
StructureX/*error*.txt
StructureX/*err*.txt
StructureX/*out*.txt
